/* Header Fonts */
.header-font{
    font-family: 'Bebas Neue', cursive;
}
/*footer stuff */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 80%;
    background-color:grey;
    color:white;
    text-align: center;
 }